/*Agregar fuente*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");


/*Estilo universal para evitar conflictos con Padding y margin*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  html {
    scroll-behavior: smooth;
  }
  
  /* Seccion encabezado */

  .navbar{
    padding: 0.5rem;
    background-color: rgb(195, 207, 217);
  }
  .navbar-collapse{
    align-items: center;
    justify-content: space-between;
  }
  .navbar .navbar-brand h1{
    color: rgb(44, 136, 217);
    font-family:  Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }

  .nav-item a{
    color: rgb(44, 136, 217);
    font-weight: 400;
    font-size: 20px;
  }
  .nav-item a:hover{
    color: rgb(44, 136, 217);
  }

  /* Seccion encabezado iconos-redes-sociales */
  .iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;

  }
  .iconos-redes-sociales i{
    color: white;
    font-size: 1.2rem;
  }
  .iconos-redes-sociales a:hover{
    border: 2px solid rgb(44, 136, 217);
  }
  .iconos-redes-sociales a:hover i{
    color:rgb(44, 136, 217) ;
  }

  /* Seccion pagina de inicio */
  #presentacion-contenido{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../assets/img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #presentacion-contenido .presentacion{
    max-width: 1100px;
    color: #fff;
    margin: auto;
    height: 100vh;
  }
  #presentacion-contenido .presentacion .bienvenida{
    letter-spacing: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  #presentacion-contenido .presentacion h2{
    font-size: 47px;
    margin-bottom: 25px;
    text-align: center; 
  }
  #presentacion-contenido .presentacion h2 span{
    font-size: 45px;
    margin: 25px;
    color: rgb(44, 136, 217);
    font-family:  Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
  }

  #presentacion-contenido .presentacion .descripcion{
    text-align: center;
    max-width: 800px;
    margin: 25px;
    font-size: 20px;
  }
  #presentacion-contenido button{
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(44, 136, 217);
    font-weight: 800;
  }
footer{
    padding: 0.2px;
}
footer .logoerland{
    font-size: 45px;
    color: rgb(44, 136, 217);
    font-family:  Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 2px;
    padding: 2px;
}
footer .descripcion-derechos{
    text-align: center;
}

/* Seccion sobrenosotros */
.sobrenosotros{
  padding: 100px 0;
  ;
  
}
.sobrenosotros .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

.sobrenosotros .contenido-seccion h3{
  font-size: 25px;
  color: rgb(44, 136, 217);
  padding: 20px 0;
  text-transform: uppercase;
}
.sobrenosotros .contenido-seccion p{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
  text-align: center;
}

/* Seccion datos empresariales-intereses */
.datos-intereses .row .columna h4{
  font-size: 23px;
  color: rgb(44, 136, 217);
  margin-bottom: 25px;
  text-align: center;
}
.columna {
  margin-bottom: 40px;
}
.datos-intereses  .row .columna ul li strong{
  display: inline-block;
  color: rgb(44, 136, 217);
  padding: 20px 0
}
.datos-intereses  .row .columna ul {
  list-style: none;
  text-align: center;
}
.datos-intereses .row .columna .contenedor-intereses .interes{
  width: 130px;
  height: 130px;

  border-radius: 10px;
  border: rgb(44, 136, 217) solid;
  /* margin: auto; */
  margin: 0px 15px 15px 0px;
  align-items: center;
}
.datos-intereses .row .columna .contenedor-intereses .interes i{
  font-size: 25pX;
  margin-bottom: 10px;
}
.datos-intereses .row .columna .contenedor-intereses .interes span{
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}



/* Seccion Adaptable responsivo */

/* Adaptable responsivo pagina de Inicio h2 span y descripcion */

@media screen and (max-width:768px){
  #presentacion-contenido .presentacion h2{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center; 
  }
  #presentacion-contenido .presentacion h2 span{
    font-size: 35px;
    margin-bottom: 20px;
  }
  #presentacion-contenido .presentacion .descripcion{
  
    margin: 20px;
    font-size: 18px;
  }
}

/* Adaptable responsivo pagina sobre nosotros datos-empresariales  */
@media screen and (max-width:992px) {
  .datos-intereses .datos-empresariales-interes{
    text-align: center;
  }
  
}
